awscli==1.45.32
ipython==9.14.1
jupyterlab==4.5.9
matplotlib==3.10.9
mkdocs==1.6.1
notebook==7.5.7
numpy==2.4.4
pandas==3.0.2
pip==24.2
python-dotenv==1.2.2
ruff==0.15.17
scikit-learn==1.8.0
streamlit==1.57.0
plotly==6.7.0
joblib==1.5.3
requests==2.33.1
seaborn==0.13.2
-e .
